html, body {
  height: 100%;
  margin: 0;
}

/*get full screen*/
#app-container {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  overflow: auto;
  display: flex;
  flex-direction: column;
}