#header-container {
  display: flex;
  justify-content: space-between;
  height: 75px;
  align-items: center;
  background: #F4F1EA;
}

#header-right {
  display: flex;
  gap: 50px;
  align-items: center;
}


#title {
  padding-left: 15px;
  font-size: 35px;
}

#user-options {
  padding-right: 15px;
  font-size: 20px;
}

.google-logo {
  height: 20px;
  width: 20px;
}

.btn {
  border-radius: 4px;
  background-color: #2B333D;
  border: none;
  padding: 10px;
  cursor: pointer;
  color: white;
  text-align: center;
  transition: all 0.5s;
}

#login-content {
  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: center;
}

.btn span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.btn span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.btn:hover span {
  padding-right: 25px;
}

.btn:hover span:after {
  opacity: 1;
  right: 0;
}

.btn a {
  color: white;
}

#header-left {
  display: flex;
  align-items: center;
}

#header-tabs {
  display: flex;
  font-size: 20px;
  align-items: center;
  padding-left: 55px;
}

.header-tab {
  padding-right: 20px;
}

.header-tab:hover {
  text-shadow: 0 0 .9px #333, 0 0 .9px #333, 0 0 .9px #333; 
  cursor: pointer;
}

a {
  color: black;
}

.visible-on-small-screen {
  display: none;
}

@media screen and (max-width: 770px) {
  .not-visible-on-small-screen {
    display: none;
  }
  .visible-on-small-screen {
    display: block;
  }
  .menu-pic {
    position: absolute;
    right: 25px;
    top: 25.5px;
  }
  #header-left {
    justify-content: space-between;
    align-items: center;
  }
  .menu-container {
    position:absolute;
    top: 75px;
    right: 0;
    z-index: 500;
    background: #2B333D;
    color: white;
    width: 50vw;
  }
  .menu-container input {
    color: white;
  }

  .menu-container input::placeholder {
    color: white;
  }
  #header-tabs {
    padding: 0;
    margin: 0;
  }

  .header-tab {
    color: white;
    padding: 0;
    font-size: 30px;
  }

  .btn {
    background-color: white;
  }

  #login-content {
    color: #2B333D;
  }

  .menu-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
    padding: 10px;
    font-size: 20px;
    padding-top: 30px;
    padding-bottom: 30px;
  }
}

@media screen and (max-width: 400px) {
  .menu-container {
    width: 100vw;
  }
}