#greeting {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  font-size: 30px;
  align-items: center;
}

#home-container {
  display: flex;
  padding-top: 25px;
  flex-direction: column;
  align-items: center;
  gap: 50px;
}

#options {
  display: flex;
  gap: 200px;
}

#btn {
  font-size: 20px;
  border: thin solid black;
  padding: 5px;
}

.option {
  position: relative;
  text-align: center;
  color: white;
}

.option-img {
  height: 400px;
  width: 400px;
}

.option-img:hover {
  filter: brightness(0.7);
  cursor: pointer;
}

.option-text {
  font-size: 40px;
  color: black;
}

#guy-sitting-img {
  width: 700px;
  height: 400px;
}

#logged-out-msg {
  text-align: center;
  width: 800px;
}

a {
  text-decoration: none;
}

@media screen and (max-width: 770px) { 
    #options {
      gap: 50px;
      flex-direction: column;
    }
    #logged-out-msg{
      max-width: 350px;
      text-align: center;
    }
}