#library-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 20px;
}

.library-books {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.library-header {
  font-size: 35px;
  padding-bottom: 20px;
}